@import "tailwindcss";

/* Custom global styles can be added here */

/* Example: Custom font */
@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-ibm {
  font-family: 'IBMPlexSans', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif;
}